
#weekCalendar
{
	border-radius: 4px;
	border: 2px solid #555555;
	background-color: rgb(255, 255, 255, .8);
}

#back
{
	font-size: 18px !important;
}

#calendar
{
	position: relative;
	left: -50px;
}


#weekCalendar tr td, #weekCalendar tr th
{
font-size: 14px;
border: 2px solid transparent;
border-radius: 5px;
text-align: center;
}

#weekCalendar tr td
{
	padding: 0 10px 5px 10px;
	width: 70px;
}

#weekCalendar tr td:hover:not(:first-child)
{
background-color: rgb(240, 240, 240);
transition-duration: 0.4s;
}

#back
{
	font-weight: bold;
	background-color: rgb(255,99,71, .3);
	transition-duration: 0.4s;
}

#back:hover
{
	background-color: darkred;
	color: white;
}

td.highlighted {
	background-color:darkred;
  }

td.lectureHighlight {
background-color:lightblue;
}

td.taskHighlight {
	background-color:pink;
}

td.eventHighlight {
	background-color:lightgoldenrodyellow;
	}

#weekCalendar tr td:first-child::selection, #weekCalendar tr[name="headerMenu"] th::selection, #topLegend th::selection
{
	color: none;
	background: none;
}